#title_div{
    background-color: whitesmoke;
    font-size: 30px;
    text-align: center;
    padding: 13px;
    height: 15vh;

}
#title_div::first-letter{
    color: orange;
    font-size: 40px;
}
span{
    color: green;
}
#img_div{
    background-color: white;
    /* border: 0.5px solid lightgrey; */
    text-align: center;
}
.sub_div{
    margin: 2px;
    width: 32.666666%;
    /*border: 0.5px solid lightgrey; */
    border-radius: 15px;
    float: left;
    background:darkslategray;
    color: white;
}
.sub_div2{
    margin: 2px;
    padding: 10px;
    width: 32.666666%;
    /*border: 0.5px solid lightgrey; */
    border-radius: 15px;
    float: left;
    background:darkslategray;
    color: white;
}
.bg{
    background: greenyellow;
    padding: 5px;

}
a{
    text-decoration: none;
}
.color{
    color: lime;
    font-size: 20px;
    font-weight: bolder;
}
.spacing{
    line-height: 21px;
}
.bg1{
    clear: both;
    background: rgb(211, 200, 179);
    width: 80vw;
}
.bg2{
    padding: 5px;
    margin: 3px;
    width: 80vw;
}
input { 
    background: wheat;
}
.plus_link{
    text-decoration: none;
    text-align: center !important;
    padding: 10px;
    background: springgreen;
    width: 15%;
}
.before::before{
    content: "\21D2";   
}
.look{
    color: white;
    font-size:100px;
    text-align: center !important;
    
}
.look1{
    color: white;
    
    
}
h2{
    margin-top: 0;
    margin-bottom: 0;
}
.sub_div3_1, .sub_div3_3{
    float: left; 
    width: 13%;
    padding: 3px;
    background-color: chartreuse;
   
    
}
#space{
    float: left;
    width: 14%;
    
}
.sub_div3_2, .sub_div3_4{
    float: left; 
    width: 30%;
    background-color: rgb(104, 128, 151);
    padding: 3px;
   
    
    
    
}
/* .sub_div3_2{
    margin-right: 33px;
}
.sub_div3_3{
    margin-left: 33px;
}
.sub_div3_1{
    margin-left: 3px;
} */ 
.clear{
    clear: both;
}

#footer{
    padding: 5px;
    background-color: darkslategray;
    
} 
@media only screen /* and ( min-width: 576px  min-width: 300px) */ and ( max-width: 576px){
    body{
        width: 100%;
    }
    #main_div{
        width: 100%;
    }
    .sub_div2, .sub_div{
        width:31%;
        margin: 0;
        font-size: 10px;

    }
    .sub_div3_1, .sub_div3_3{
        width: 13%;
        margin: 0;
        font-size: 10px;
        
    }
    .sub_div3_2, .sub_div3_4{
        width: 26%;
        overflow: hidden ;
        margin: 0;
        font-size: 10px;
    }
    #space{
        width: 8%;
    }
    .look{
        font-size: 20px;
        text-align: center;
        width: 21%;
        padding-left: 0px;
        padding-top: 94px;
        padding-bottom: 94px;
    
    }
    ul li{
        padding: 10px !important;
        font-size: 8px !important;
        margin-right: 0px !important;
    }
    ul{ 
        padding-left: 0 !important;
    }
    

    

}
